<p class="player-board__player-name">{{playerName}}</p>
<svg xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
     xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
     width="110.3703mm"
     height="108.97169mm"
     viewBox="0 0 110.3703 108.97169"
     version="1.1"
     id="svg"
     inkscape:version="0.92.4 (5da689c313, 2019-01-14)"
     sodipodi:docname="second.svg">

      <!-- квадраты  -->
      <g transform="translate(-7.8907296,-92.322033)">

            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect1"
                  width="10"
                  height="10"
                  x="17.589331"
                  y="101.96291"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="a1" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect2"
                  width="10"
                  height="10"
                  x="27.463219"
                  y="101.96291"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="a2" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect3"
                  width="10"
                  height="10"
                  x="37.337093"
                  y="101.96291"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="a3" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect4"
                  width="10"
                  height="10"
                  x="47.210972"
                  y="101.96291"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="a4" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect5"
                  width="10"
                  height="10"
                  x="57.084846"
                  y="101.96291"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="a5" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect6"
                  width="10"
                  height="10"
                  x="66.958725"
                  y="101.96291"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="a6" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect7"
                  width="10"
                  height="10"
                  x="76.832603"
                  y="101.96291"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="a7" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect8"
                  width="10"
                  height="10"
                  x="86.706474"
                  y="101.96291"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="a8" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect9"
                  width="10"
                  height="10"
                  x="96.580353"
                  y="101.96291"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="a9" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect10"
                  width="10"
                  height="10"
                  x="106.4542"
                  y="101.96291"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="a10" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect11"
                  width="10"
                  height="10"
                  x="17.589329"
                  y="111.83675"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="b1" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect12"
                  width="10"
                  height="10"
                  x="27.463219"
                  y="111.83675"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="b2" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect13"
                  width="10"
                  height="10"
                  x="37.337093"
                  y="111.83675"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="b3" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect14"
                  width="10"
                  height="10"
                  x="47.210968"
                  y="111.83675"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="b4" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect15"
                  width="10"
                  height="10"
                  x="57.084846"
                  y="111.83675"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="b5" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect16"
                  width="10"
                  height="10"
                  x="66.958725"
                  y="111.83675"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="b6" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect17"
                  width="10"
                  height="10"
                  x="76.832603"
                  y="111.83675"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="b7" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect18"
                  width="10"
                  height="10"
                  x="86.706467"
                  y="111.83675"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="b8" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect19"
                  width="10"
                  height="10"
                  x="96.580353"
                  y="111.83675"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="b9" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect20"
                  width="10"
                  height="10"
                  x="106.4542"
                  y="111.83675"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="b10" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect21"
                  width="10"
                  height="10"
                  x="17.589327"
                  y="121.71064"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="c1" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect22"
                  width="10"
                  height="10"
                  x="27.463217"
                  y="121.71064"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="c2" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect23"
                  width="10"
                  height="10"
                  x="37.337093"
                  y="121.71064"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="c3" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect24"
                  width="10"
                  height="10"
                  x="47.210968"
                  y="121.71064"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="c4" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect25"
                  width="10"
                  height="10"
                  x="57.084846"
                  y="121.71064"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="c5" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect26"
                  width="10"
                  height="10"
                  x="66.958725"
                  y="121.71064"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="c6" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect27"
                  width="10"
                  height="10"
                  x="76.832603"
                  y="121.71064"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="c7" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect28"
                  width="10"
                  height="10"
                  x="86.706467"
                  y="121.71064"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="c8" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect29"
                  width="10"
                  height="10"
                  x="96.580345"
                  y="121.71064"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="c9" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect30"
                  width="10"
                  height="10"
                  x="106.4542"
                  y="121.71064"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="c10" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect31"
                  width="10"
                  height="10"
                  x="17.589329"
                  y="131.58449"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="d1" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect32"
                  width="10"
                  height="10"
                  x="27.463219"
                  y="131.58449"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="d2" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect33"
                  width="10"
                  height="10"
                  x="37.337093"
                  y="131.58449"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="d3" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect34"
                  width="10"
                  height="10"
                  x="47.210968"
                  y="131.58449"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="d4" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect35"
                  width="10"
                  height="10"
                  x="57.084846"
                  y="131.58449"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="d5" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect36"
                  width="10"
                  height="10"
                  x="66.958725"
                  y="131.58449"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="d6" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect37"
                  width="10"
                  height="10"
                  x="76.832603"
                  y="131.58449"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="d7" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect38"
                  width="10"
                  height="10"
                  x="86.706467"
                  y="131.58449"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="d8" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect39"
                  width="10"
                  height="10"
                  x="96.580345"
                  y="131.58449"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="d9" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect40"
                  width="10"
                  height="10"
                  x="106.4542"
                  y="131.58449"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="d10" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect41"
                  width="10"
                  height="10"
                  x="17.589333"
                  y="141.45827"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="e1" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect42"
                  width="10"
                  height="10"
                  x="27.463221"
                  y="141.45827"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="e2" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect43"
                  width="10"
                  height="10"
                  x="37.337097"
                  y="141.45827"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="e3" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect44"
                  width="10"
                  height="10"
                  x="47.210976"
                  y="141.45827"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="e4" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect45"
                  width="10"
                  height="10"
                  x="57.08485"
                  y="141.45827"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="e5" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect46"
                  width="10"
                  height="10"
                  x="66.958725"
                  y="141.45827"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="e6" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect47"
                  width="10"
                  height="10"
                  x="76.832611"
                  y="141.45827"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="e7" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect48"
                  width="10"
                  height="10"
                  x="86.706474"
                  y="141.45827"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="e8" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect49"
                  width="10"
                  height="10"
                  x="96.580353"
                  y="141.45827"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="e9" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect50"
                  width="10"
                  height="10"
                  x="106.4542"
                  y="141.45827"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="e10" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect51"
                  width="10"
                  height="10"
                  x="17.589333"
                  y="151.33214"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="f1" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect52"
                  width="10"
                  height="10"
                  x="27.463221"
                  y="151.33214"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="f2" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect53"
                  width="10"
                  height="10"
                  x="37.337097"
                  y="151.33214"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="f3" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect54"
                  width="10"
                  height="10"
                  x="47.210976"
                  y="151.33214"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="f4" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect55"
                  width="10"
                  height="10"
                  x="57.08485"
                  y="151.33214"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="f5" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect56"
                  width="10"
                  height="10"
                  x="66.958725"
                  y="151.33214"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="f6" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect57"
                  width="10"
                  height="10"
                  x="76.832611"
                  y="151.33214"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="f7" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect58"
                  width="10"
                  height="10"
                  x="86.706474"
                  y="151.33214"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="f8" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect59"
                  width="10"
                  height="10"
                  x="96.580353"
                  y="151.33214"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="f9" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect60"
                  width="10"
                  height="10"
                  x="106.4542"
                  y="151.33214"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="f10" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect61"
                  width="10"
                  height="10"
                  x="17.589336"
                  y="161.20601"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="g1" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect62"
                  width="10"
                  height="10"
                  x="27.463223"
                  y="161.20601"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="g2" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect63"
                  width="10"
                  height="10"
                  x="37.337097"
                  y="161.20601"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="g3" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect64"
                  width="10"
                  height="10"
                  x="47.210976"
                  y="161.20601"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="g4" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect65"
                  width="10"
                  height="10"
                  x="57.084854"
                  y="161.20601"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="g5" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect66"
                  width="10"
                  height="10"
                  x="66.958733"
                  y="161.20601"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="g6" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect67"
                  width="10"
                  height="10"
                  x="76.832611"
                  y="161.20601"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="g7" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect68"
                  width="10"
                  height="10"
                  x="86.706482"
                  y="161.20601"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="g8" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect69"
                  width="10"
                  height="10"
                  x="96.580353"
                  y="161.20601"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="g9" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect70"
                  width="10"
                  height="10"
                  x="106.4542"
                  y="161.20601"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="g10" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect71"
                  width="10"
                  height="10"
                  x="17.589336"
                  y="171.07988"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="h1" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect72"
                  width="10"
                  height="10"
                  x="27.463223"
                  y="171.07988"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="h2" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect73"
                  width="10"
                  height="10"
                  x="37.337097"
                  y="171.07988"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="h3" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect74"
                  width="10"
                  height="10"
                  x="47.210976"
                  y="171.07988"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="h4" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect75"
                  width="10"
                  height="10"
                  x="57.084854"
                  y="171.07988"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="h5" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect76"
                  width="10"
                  height="10"
                  x="66.958733"
                  y="171.07988"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="h6" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect77"
                  width="10"
                  height="10"
                  x="76.832611"
                  y="171.07988"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="h7" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect78"
                  width="10"
                  height="10"
                  x="86.706482"
                  y="171.07988"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="h8" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect79"
                  width="10"
                  height="10"
                  x="96.580353"
                  y="171.07988"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="h9" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect80"
                  width="10"
                  height="10"
                  x="106.4542"
                  y="171.07988"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="h10" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect81"
                  width="10"
                  height="10"
                  x="17.589336"
                  y="180.95375"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="i1" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect82"
                  width="10"
                  height="10"
                  x="27.463224"
                  y="180.95375"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="i2" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect83"
                  width="10"
                  height="10"
                  x="37.337097"
                  y="180.95375"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="i3" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect84"
                  width="10"
                  height="10"
                  x="47.210976"
                  y="180.95375"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="i4" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect85"
                  width="10"
                  height="10"
                  x="57.084854"
                  y="180.95375"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="i5" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect86"
                  width="10"
                  height="10"
                  x="66.958733"
                  y="180.95375"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="i6" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect87"
                  width="10"
                  height="10"
                  x="76.832611"
                  y="180.95375"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="i7" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect88"
                  width="10"
                  height="10"
                  x="86.706474"
                  y="180.95375"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="i8" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect89"
                  width="10"
                  height="10"
                  x="96.580353"
                  y="180.95375"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="i9" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect90"
                  width="10"
                  height="10"
                  x="106.4542"
                  y="180.95375"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="i10" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect91"
                  width="10"
                  height="10"
                  x="17.589336"
                  y="190.82762"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="j1" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect92"
                  width="10"
                  height="10"
                  x="27.463224"
                  y="190.82762"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="j2" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect93"
                  width="10"
                  height="10"
                  x="37.337101"
                  y="190.82762"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="j3" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect94"
                  width="10"
                  height="10"
                  x="47.210976"
                  y="190.82762"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="j4" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect95"
                  width="10"
                  height="10"
                  x="57.084854"
                  y="190.82762"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="j5" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect96"
                  width="10"
                  height="10"
                  x="66.958733"
                  y="190.82762"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="j6" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect97"
                  width="10"
                  height="10"
                  x="76.832611"
                  y="190.82762"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="j7" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect98"
                  width="10"
                  height="10"
                  x="86.706482"
                  y="190.82762"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="j8" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect99"
                  width="10"
                  height="10"
                  x="96.580353"
                  y="190.82762"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="j9" />
            <rect #rect
                  (click)="mouseClick($event)"
                  id="rect100"
                  width="10"
                  height="10"
                  x="106.4542"
                  y="190.82762"
                  style="opacity:1;fill:#fcfcfc;fill-opacity:1;stroke:#a1daf8;stroke-width:0.12612309;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  inkscape:label="j10" />
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="8.8252668"
                  y="110.81467"
                  id="text5330">
                  <tspan sodipodi:role="line"
                         id="tspan5328"
                         x="8.8252668"
                         y="110.81467"
                         style="stroke-width:0.26458332">A</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="8.6381769"
                  y="120.91748"
                  id="text5334">
                  <tspan sodipodi:role="line"
                         id="tspan5408"
                         x="8.6381769"
                         y="120.91748">B</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="8.4510851"
                  y="130.67818"
                  id="text5338">
                  <tspan sodipodi:role="line"
                         id="tspan5336"
                         x="8.4510851"
                         y="130.67818"
                         style="stroke-width:0.26458332">C</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="8.606082"
                  y="140.2197"
                  id="text5342">
                  <tspan sodipodi:role="line"
                         id="tspan5340"
                         x="8.606082"
                         y="140.2197"
                         style="stroke-width:0.26458332">D
                  </tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="8.7610722"
                  y="150.50958"
                  id="text5346">
                  <tspan sodipodi:role="line"
                         id="tspan5344"
                         x="8.7610722"
                         y="150.50958"
                         style="stroke-width:0.26458332">E</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="8.7931643"
                  y="160.23819"
                  id="text5350">
                  <tspan sodipodi:role="line"
                         id="tspan5348"
                         x="8.7931643"
                         y="160.23819"
                         style="stroke-width:0.26458332">F</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="7.8256173"
                  y="169.9668"
                  id="text5354">
                  <tspan sodipodi:role="line"
                         id="tspan5352"
                         x="4.8256173"
                         y="169.9668"
                         style="stroke-width:0.26458332">
                        G</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="8.0448208"
                  y="179.50832"
                  id="text5358">
                  <tspan sodipodi:role="line"
                         id="tspan5356"
                         x="8.0448208"
                         y="179.50832"
                         style="stroke-width:0.26458332">H</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="9.5094204"
                  y="189.7982"
                  id="text5362">
                  <tspan sodipodi:role="line"
                         id="tspan5360"
                         x="10.5"
                         y="189.7982"
                         style="stroke-width:0.26458332">I
                  </tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="8.9802589"
                  y="200.27516"
                  id="text5366">
                  <tspan sodipodi:role="line"
                         id="tspan5364"
                         x="8"
                         y="200.27516"
                         style="stroke-width:0.26458332">J
                  </tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="19.457222"
                  y="100.86687"
                  id="text5370">
                  <tspan sodipodi:role="line"
                         id="tspan5368"
                         x="19.457222"
                         y="100.86687"
                         style="stroke-width:0.26458332">1</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="28.624565"
                  y="100.86687"
                  id="text5374">
                  <tspan sodipodi:role="line"
                         id="tspan5372"
                         x="28.624565"
                         y="100.86687"
                         style="stroke-width:0.26458332">2</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="39.037331"
                  y="100.64769"
                  id="text5378">
                  <tspan sodipodi:role="line"
                         id="tspan5376"
                         x="39.037331"
                         y="100.64769"
                         style="stroke-width:0.26458332">3</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="48.798042"
                  y="101.05397"
                  id="text5382">
                  <tspan sodipodi:role="line"
                         id="tspan5380"
                         x="48.798042"
                         y="101.05397"
                         style="stroke-width:0.26458332">4</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="58.622948"
                  y="101.14477"
                  id="text5386">
                  <tspan sodipodi:role="line"
                         id="tspan5384"
                         x="58.622948"
                         y="101.14477"
                         style="stroke-width:0.26458332">5</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="68.907326"
                  y="101.02187"
                  id="text5390">
                  <tspan sodipodi:role="line"
                         id="tspan5388"
                         x="68.907326"
                         y="101.02187"
                         style="stroke-width:0.26458332">6</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="78.919319"
                  y="100.80819"
                  id="text5394">
                  <tspan sodipodi:role="line"
                         id="tspan5392"
                         x="78.919319"
                         y="100.80819"
                         style="stroke-width:0.26458332">7</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="88.551636"
                  y="100.67979"
                  id="text5398">
                  <tspan sodipodi:role="line"
                         id="tspan5396"
                         x="88.551636"
                         y="100.67979"
                         style="stroke-width:0.26458332">8</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="98.002357"
                  y="100.71188"
                  id="text5402">
                  <tspan sodipodi:role="line"
                         id="tspan5400"
                         x="98.002357"
                         y="100.71188"
                         style="stroke-width:0.26458332">9</tspan>
            </text>
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  x="105.02095"
                  y="100.64769"
                  id="text5406">
                  <tspan sodipodi:role="line"
                         id="tspan5404"
                         x="105.02095"
                         y="100.64769"
                         style="stroke-width:0.26458332">10</tspan>
            </text>
      </g>

      <!-- font-size: 8 -->
      <!-- display:none; -->
      <!-- пожарные! тут огонь! -->
      <g>


            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>



            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #fire>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="18">🔥</tspan>
            </text>
      </g>

      <!-- точки -->
      <g>
            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>

            <text xml:space="preserve"
                  style="display:none;"
                  #dot>
                  <tspan sodipodi:role="line"
                         x="10"
                         y="17.5">⚫</tspan>
            </text>
      </g>

</svg>