<div style="text-align: center;">
    <h2 mat-dialog-title>Введите ваше имя: </h2>

    <mat-dialog-content>

        <mat-form-field>
            <input (keydown)="keyDownFunction($event)"
                   [(ngModel)]="name"
                   matInput
                   autofocus>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button
                class="name-dialog__button"
                (click)="close()">Поехали!</button>
    </mat-dialog-actions>
</div>