<p class=app_help-message>{{gameService.message}}</p>
<div class="app__container">
    <app-player-board [playerType]="playerTypes.Human"></app-player-board>

    <app-player-board [playerType]="playerTypes.Computer"></app-player-board>
</div>